.App {
  text-align: center;
  width: 100%;
  height: 100vh; /* Make sure it takes the full viewport height */
  overflow: hidden; /* Prevent scrolling on the entire app */
  display: flex;
  flex-direction: column; /* Arrange children in a column */
}
