.display {
    height: calc(100vh - 80px); /* Adjust height to account for the navbar */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
    padding-top: 2rem; /* Add padding to the top */
    padding-bottom: 2rem; /* Add padding to the bottom */
    background-color: #f8f8f8;
}
