/* MainWindow.css */
.main-window {
    padding: 0px;
    padding-top: 6rem; /* Adjusted padding to match the navbar height */
    height: 100%;
    overflow-y: auto; /* Allow vertical scrolling */
    background: yellow;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}
